<!DOCTYPE html>
<html>
<head>
<title>Credit Risk Predictor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Credit Risk Prediction</h1>

<form action="/predict" method="post">

<label>Loan Amount (USD $)</label>
<input type="number" name="loan_amnt" placeholder="Example: 5000" required>

<label>Term (Months)</label>
<input type="number" name="term" placeholder="Example: 36 or 60" required>

<label>Interest Rate (%)</label>
<input type="number" step="0.01" name="int_rate" placeholder="Example: 10.5" required>

<label>Installment (USD $)</label>
<input type="number" step="0.01" name="installment" placeholder="Example: 150" required>

<label>Annual Income (USD $)</label>
<input type="number" name="annual_inc" placeholder="Example: 60000" required>

<label>DTI (Debt To Income Ratio)</label>
<input type="number" step="0.01" name="dti" placeholder="Example: 12" required>

<label>Grade</label>
<select name="grade">
<option value="B">B</option>
<option value="C">C</option>
<option value="D">D</option>
<option value="E">E</option>
<option value="F">F</option>
<option value="G">G</option>
</select>

<button type="submit">Predict Risk</button>
</form>

</div>

</body>
</html>